/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Main Title */
.main-title {
  margin: 0px auto 80px;
  padding: 10px 20px;
  border: solid 2px black;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  font-weight: bold;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}

.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
  z-index: -1;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: solid white 2px;
  transition-delay: 0.5s;
}
/* End Main Title */
/* End Global Rules */

/* Start Header */
.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .logo {
  font-size: 25px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  transition: var(--main-transition);
}
.header .logo:hover {
  transform: scale(1.5);
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li:hover .mega-menue {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  color: black;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 0px 15px;
    height: 30px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0px;
  left: -100%;
  position: absolute;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--section-background);
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .mega-menue {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 30px;
  width: 100%;
  border-bottom: solid 4px var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: 100%;
  transition: top var(--main-padding-top), opacity var(--main-transition);
}

@media (max-width: 767px) {
  .header .mega-menue {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menue .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .header .mega-menue .image {
    display: none;
  }
}

.header .mega-menue .links {
  min-width: 240px;
  flex: 1;
}
.header .mega-menue .links li {
  position: relative;
}
.header .mega-menue .links li:not(:last-child) {
  border-bottom: 2px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menue .links:first-of-type li:last-child {
    border-bottom: 2px solid #e9e6e6;
  }
}
.header .mega-menue .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menue .links li:hover::before {
  width: 100%;
}
.header .mega-menue .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menue .links li a i {
  margin-right: 15px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.landing::before {
  content: "";
  top: -30px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--section-background);
  transform: skewY(-6deg);
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 30px;
  }
}
.landing .text p {
  font-size: 24px;
  color: #666;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
.landing .text .teemo {
  color: var(--main-color);
  width: 22%;
  height: 25px;
  font-size: 25px;
}
@media (max-width: 991px) {
  .landing .text .teemo {
    margin-top: 10px;
    margin-left: 87px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articale  */
.articale {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.articale .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articale .box {
  box-shadow: 2px 2px 30px rgb(0 0 0 / 40%);
  background-color: white;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articale .box:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 35px rgb(0 0 0 / 80%);
}

.articale .box img {
  max-width: 100%;
  border-top-left-radius: 30px;
}
.articale .box .content {
  padding: 20px;
}
.articale .box .content h3 {
  margin: 0;
}
.articale .box .content p {
  line-height: 1.5;
  margin: 10px 0 0;
  color: #777;
}

.articale .box .info {
  padding: 20px;
  display: flex;
  border-top: 2px #e6e6e7 solid;
  justify-content: space-between;
  align-items: center;
}
.articale .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articale .box .info {
  color: var(--main-color);
}

.articale .box:hover .info i {
  animation: move-arrow 1s linear infinite;
}
/* End Articale  */
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.gallery .container {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 12px 12px 30px rgb(0 0 0 / 60%), 0px 2px 4px 0 rgb(0 0 0 / 40%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgb(255 255 255 / 40%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: Flash 0.7s;
}
.gallery .box img {
  max-width: 100%;
}
.gallery .box .image:hover img {
  transition: 0.5s;
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Feature */
.feature {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.feature .container {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.feature .box {
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
}
.feature .box .img-holder {
  position: relative;
  overflow: hidden;
}

.feature .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.feature .box .img-holder::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
}
.feature .box:hover .img-holder::after {
  transition: var(--main-transition);
  border-width: 170px 500px 170px 0px;
}
.feature .box .img-holder img {
  width: 100%;
}
.feature .box h2 {
  font-weight: bold;
  position: relative;
  margin: auto;
  width: fit-content;
  font-size: 35px;
}
.feature .box h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  height: 5px;
  background-color: red;
  width: calc(100% - 30px);
}
.feature .box p {
  line-height: 2;
  color: #555;
  font-weight: bold;
  margin: 30px 0;
  padding: 25px;
  font-size: 20px;
}
.feature .box a {
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  margin: 0 auto 30px;
  border: solid 3px transparent;
  width: fit-content;
  border-radius: 6px;
}

.feature .quality .img-holder::before {
  background-color: rgb(244 64 54 / 50%);
}

.feature .quality h2::after {
  background-color: #f44036;
}

.feature .quality a {
  color: white;
  background-color: #f44036;
}
.feature .time .img-holder::before {
  background-color: rgb(0 150 136 / 50%);
}
.feature .time h2::after {
  background-color: #009688;
}
.feature .time a {
  color: white;
  background-color: #009688;
}
.feature .passion .img-holder::before {
  background-color: rgb(3 169 244 / 50%);
}
.feature .passion h2::after {
  background-color: #03a9f4;
}
.feature .passion a {
  color: white;
  background-color: #03a9f4;
}
/* End Feature */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}

.testimonials .container {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.testimonials .box {
  padding: 20px;
  box-sizing: 0px 2px 4px rgp(0 0 0 / 50%);
  position: relative;
  background-color: white;
  border-radius: 6px;
}
.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
}
/* End Testimonials */
/* Start Team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.team .box {
  position: relative;
}

.team .box:hover {
  filter: grayscale(100%);
}
.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f3f3f3;
  height: 100%;
  transition: var(--main-transition);
  border-radius: 10px;
}

.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team .box .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}
.team .box .social a:hover {
  color: var(--main-color);
}

.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  transition: var(--main-transition);
  font-size: 22px;
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* End Team */
/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services .container .box {
  background-color: white;
  counter-increment: services;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 50%), 0px 2px 4px (0 0 0 / 30%);
  position: relative;
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: -3px;
  width: 0px;
  height: 3px;
  position: absolute;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .box:hover {
  transition: var(--main-transition);
  transform: translateY(-10px);
}

.services .box:hover::before {
  transition: var(--main-transition);
  width: 100%;
}
.services .box > i {
  margin: 30px auto 20px;
  text-align: center;
  display: block;
  color: #d5d5d5;
}

.services .box > h3 {
  margin: 20px 0 40px;
  color: var(--main-color);
  font-size: 25px;
  text-align: center;
}
.services .box .info a {
  color: var(--main-color);
}
.services .box .info {
  padding: 15px;
  color: #f9f9f9;
  text-align: right;
  position: relative;
}

.services .box .info::before {
  content: "0" counter(services);
  width: 80px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  background-color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .box .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  height: 100%;
  width: 50px;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}

/* End Services */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes Flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
